@import 'variables';

.nav-breadcrumb {
	display: flex;
	gap: var(--Radius-and-Spacing-m-l, 12px);
	align-items: center;
	flex-wrap: wrap;
	padding: 0;

	li {
		display: flex;
		align-items: center;
		gap: var(--Radius-and-Spacing-m-l, 12px);
		list-style-type: none;
		@include typo-BodyExtraSmall-Bold();
		color: var(--Colors-Primary-3, #30303E);

		a  {
			text-decoration: none;		
			color: var(--Colors-Dark-200, #646482);	
			@include typo-BodyExtraSmall();

		}


		&:after {
			// width: 24px;
			// height: 24px;
			// background-color: currentColor; /* nastaví barvu ikony */
			// -webkit-mask-image: url("https://design-system.test/dist/images/icons-sprite.svg#3d-arc-center-pt");
			// mask-image: url("https://design-system.test/dist/images/icons-sprite.svg#3d-arc-center-pt");
			// mask-size: contain;
			// mask-repeat: no-repeat;


			display: inline-block;
			width: 24px; /* Set dimensions */
			height: 24px;
			background-color: currentColor; /* Sets background to match current color */
			-webkit-mask-image: url("/dist/images/icons-sprite.svg?v=10.0#3d-arc-center-pt");
    		-webkit-mask-size: cover;
			-webkit-mask-repeat: no-repeat;
			
			content: "";
			position: relative;

		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
}