//@import 'core/reset';

@function rem( $size ) {
    @return calc( ($size / 16px) * 1rem );
}

@mixin icon($icon-name) {
    background-color: currentColor;
    mask-image: url("/design-system/dist/images/icons-sprite.svg?v=10.0##{$icon-name}");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    display: block;
}

:root {
    --mainFont: "SF Pro", "Arial", sans-serif;

    --Colors-Primary-1: #655BFF;
    --Colors-Primary-2: #FFF;
    --Colors-Primary-3: #30303EFF;
    --Colors-Primary-4: #DBDBE4;

    --Colors-Dark-200: #646482FF;
    --Colors-Dark-300: #8E8EA8FF;
    --Colors-Dark-1000: #E8E8EEFF;

    --Colors-Purple-1000: #F4F4FFFF;
   

    --Colors-States-Info: #1C70D3FF;
    --Colors-States-Success: #48B55AFF;
    --Colors-States-Warning: #D26C21FF;
    --Colors-States-Danger: #B5213BFF;

    --Colors-Primary-1: rgba(101, 91, 255, 1);
    --Colors-Primary-2: rgba(255, 255, 255, 1);
    --Colors-Primary-3: rgba(48, 48, 62, 1);
    --Colors-Primary-4: rgba(219, 219, 228, 1);
    --Colors-Dark-200: rgba(100, 100, 130, 1);
    --Colors-Dark-300: rgba(142, 142, 168, 1);
    --Colors-Dark-1000: rgba(232, 232, 238, 1);
    --Colors-States-Info: rgba(28, 112, 211, 1);
    --Colors-States-Success: rgba(72, 181, 90, 1);
    --Colors-States-Warning: rgba(210, 108, 33, 1);
    --Colors-States-Danger: rgba(181, 33, 59, 1);
    --Colors-Primary-Primary-1-Shades-800: rgba(209, 206, 255, 1);
    --Colors-Primary-Primary-1-Shades-600: rgba(178, 173, 255, 1);
    --Colors-Primary-Primary-1-Shades-400: rgba(132, 124, 255, 1);
    --Colors-States-Info-Shades-400: rgba(73, 141, 220, 1);
    --Colors-States-Info-Shades-600: rgba(142, 184, 233, 1);
    --Colors-States-Info-Shades-800: rgba(187, 212, 242, 1);
    --Colors-States-Info-Shades-1000: rgba(232, 241, 251, 1);
    --Colors-States-Success-Shades-400: rgba(109, 196, 123, 1);
    --Colors-States-Success-Shades-600: rgba(145, 211, 156, 1);
    --Colors-States-Success-Shades-800: rgba(200, 233, 205, 1);
    --Colors-States-Success-Shades-1000: rgba(237, 248, 238, 1);
    --Colors-States-Warning-Shades-400: rgba(219, 137, 78, 1);
    --Colors-States-Warning-Shades-600: rgba(233, 181, 144, 1);
    --Colors-States-Warning-Shades-800: rgba(242, 211, 188, 1);
    --Colors-States-Warning-Shades-1000: rgba(251, 240, 233, 1);
    --Colors-States-Danger-Shades-400: rgba(196, 77, 99, 1);
    --Colors-States-Danger-Shades-600: rgba(218, 144, 157, 1);
    --Colors-States-Danger-Shades-800: rgba(233, 188, 196, 1);
    --Colors-States-Danger-Shades-1000: rgba(248, 233, 235, 1);

    --Radius-and-Spacing-xs: 2px;
    --Radius-and-Spacing-s: 4px;
    --Radius-and-Spacing-s-m: 6px;
    --Radius-and-Spacing-m: 8px;
    --Radius-and-Spacing-m-l: 12px;
    --Radius-and-Spacing-l: 16px;
    --Radius-and-Spacing-xl: 24px;
   
    --Radius-and-Spacing-Ultra: 500px;

    --Shadow-Level-1: 0px 2px 4px 0px rgba(48, 48, 62, 0.12);
    --Shadow-Level-2: 0px 4px 12px 0px rgba(48, 48, 62, 0.12);
    --Shadow-Level-3: 0px 8px 24px 0px rgba(48, 48, 62, 0.12);
    --Shadow-Level-4: 0px 2px 48px 0px rgba(48, 48, 62, 0.12);

    --container-sm: 600px;
    --container-md: 800px;
    --container-lg: 1000px;
    --container-xl: 1200px;
    --container-xxl: 1400px;
}


@mixin typo-H1 {
    font-family: var( --mainFont );
    font-size: rem( 28px );
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.84px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-H2 {
    font-family: var( --mainFont );
    font-size: rem( 22px );
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 30.8px */
    letter-spacing: -0.66px;
    color: var(--Colors-Primary-3, #30303E);
}


@mixin typo-H3 {
    font-family: var( --mainFont );
    font-size: rem( 18px );
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.54px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-H4 {
    font-family: var( --mainFont );
    font-size: rem( 16px );
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.48px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-H5 {
    font-family: var( --mainFont );
    font-size: rem( 14px );
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.42px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-BodyLarge {
    font-family: var( --mainFont );
    font-size: rem( 16px );
    font-style: normal;
    font-weight: 510;
    line-height: 145%; /* 23.2px */
    letter-spacing: -0.32px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-BodyLarge-Bold {
    font-family: var( --mainFont );
    font-size: rem( 16px );
    font-style: normal;
    font-weight: 700;
    line-height: 145%; /* 23.2px */
    letter-spacing: -0.32px;
    color: var(--Colors-Primary-3, #30303E);
}


@mixin typo-BodySmall {
    font-family: var( --mainFont );
    font-size: rem( 14px );
    font-style: normal;
    font-weight: 510;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.28px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-BodySmall-Bold {
    font-family: var( --mainFont );
    font-size: rem( 14px );
    font-style: normal;
    font-weight: 700;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.28px;    
    color: var(--Colors-Primary-3, #30303E);
}


@mixin typo-BodyExtraSmall {
    font-family: var( --mainFont );
    font-size: rem( 12px );
    font-style: normal;
    font-weight: 510;
    line-height: 145%; /* 17.4px */
    letter-spacing: -0.24px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-BodyExtraSmall-Bold {
    font-family: var( --mainFont );
    font-size: rem( 12px );
    font-style: normal;
    font-weight: 700;
    line-height: 145%; /* 17.4px */
    letter-spacing: -0.24px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-CaptionBig {
    font-family: var( --mainFont );
    font-size: rem( 13px );
    font-style: normal;
    font-weight: 590;
    line-height: 145%; /* 18.85px */
    letter-spacing: -0.26px;
    text-transform: uppercase;
    color: var(--Colors-Primary-3, #30303E);
}


@mixin typo-Caption {
    font-family: var( --mainFont );
    font-size: rem( 11px );
    font-style: normal;
    font-weight: 590;
    line-height: 145%; /* 15.95px */
    letter-spacing: -0.22px;
    text-transform: uppercase;
    color: var(--Colors-Primary-3, #30303E);
}


@mixin typo-CodeSnippets {
    color: var(--Colors-Primary-3, #30303E);
    font-family: "DM Mono";
    font-size: rem( 14px );
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    letter-spacing: 0.28px;
    color: var(--Colors-Primary-3, #30303E);
}

@mixin typo-ButtonLarge {
    font-family: var( --mainFont );
    font-size: rem( 15px );
    font-style: normal;
    font-weight: 590;
    line-height: 145%; /* 21.75px */
    letter-spacing: -0.3px;
    color: var(--Colors-Primary-3, #30303E);
}


@mixin typo-ButtonSmall {
    font-family: var( --mainFont );
    font-size: rem( 13px );
    font-style: normal;
    font-weight: 590;
    line-height: 145%; /* 18.85px */
    letter-spacing: -0.26px;
    color: var(--Colors-Primary-3, #30303E);
}
