//  -----------------------------
//  Shades of grey
//  -----------------------------

$color-white: #ffffff;
$color-very-light-grey: #E2E2E2;
$color-light-grey: #d3ced2;
$color-medium-grey: #666666;
$color-grey: #857E76; 
$color-medium-dark-grey: #717171;
$color-dark-grey: #4E4E4E;
$color-black: #000000;
//  -----------------------------
//  Colors
//  -----------------------------
$color-red: #C11F1F;

$color-orange: #FFA400;
$color-light-orange: #fff6e9;

$color-green: #2E911C;
$color-light-green: #B6E39F;
$color-dark-green: #1e740f;

$color-blue: #137DD8;

$color-primary: #000;
$color-primary-contrast:  white;

$color-secondary: #816826;
$color-secondary-contrast: white;

$text-color: var( --text-color, #000000 );
$background-color: #fff;


$color-gray-1: rgba( 0, 0, 0, 0.1 );
$color-gray-2: rgba( 0, 0, 0, 0.2 );
$color-gray-3: rgba( 0, 0, 0, 0.3 );
$color-gray-4: rgba( 0, 0, 0, 0.4 );
$color-gray-5: rgba( 0, 0, 0, 0.5 );
$color-gray-6: rgba( 0, 0, 0, 0.6 );
$color-gray-7: rgba( 0, 0, 0, 0.7 );
$color-gray-8: rgba( 0, 0, 0, 0.8 );
$color-gray-9: rgba( 0, 0, 0, 0.9 );

$color-secondary-1: rgba(129, 104, 38, 0.1);
$color-secondary-2: rgba(129, 104, 38, 0.2);
$color-secondary-3: rgba(129, 104, 38, 0.3);
$color-secondary-4: rgba(129, 104, 38, 0.4);
$color-secondary-5: rgba(129, 104, 38, 0.5);
$color-secondary-6: rgba(129, 104, 38, 0.6);
$color-secondary-7: rgba(129, 104, 38, 0.7);
$color-secondary-8: rgba(129, 104, 38, 0.8);
$color-secondary-9: rgba(129, 104, 38, 0.9);


$background-color-light: $color-white;

$border-color: #E6E1D4;