@import 'variables';

.input-select {
	display: flex;
	flex-flow: column;
	gap: var(--Radius-and-Spacing-s-m, 6px);

	& > span {
		color: var(--Colors-Dark-200, #646482);
		@include typo-Caption();
	}

	.custom-select { 
		position: relative; 
		padding: var(--Radius-and-Spacing-m, 8px) var(--Radius-and-Spacing-m-l, 12px);
		border-radius: var(--Radius-and-Spacing-s, 4px);
		background: var(--Colors-Dark-1000, #E8E8EE);
		border: 0;	
		color: var(--Colors-Dark-200, #646482);
		@include typo-ButtonLarge();
		width: 100%;
		cursor: pointer;

		&:after {
			position: absolute;
			right: var(--Radius-and-Spacing-m-l, 12px);
			top: 50%;
			transform: translateY(-50%);
			width: 14px;
			height: 14px;

			color: var(--Colors-Dark-200, #646482);;

	
			@include icon('nav-arrow-down');
	
			content: "";
		}
	}
	.options-container { 
		position: absolute; 
		left: 0;
		top: 100%; 
		width: 100%; 
		z-index: 1;
		border-radius: var(--Radius-and-Spacing-s-m, 6px);
		border: var(--0, 1px) solid var(--Colors-Dark-1000, #E8E8EE);
		background: var(--Colors-Primary-2, #FFF);
		padding: var(--Radius-and-Spacing-m, 8px);
		flex-direction: column;
		align-items: flex-start;
		gap: var(--Radius-and-Spacing-xs, 2px);
		box-shadow: var( --Shadow-Level-1 );
		margin-top: var(--Radius-and-Spacing-s, 4px);
		

		.search-input {
			border-radius: var(--Radius-and-Spacing-s, 4px);
			background: var(--Colors-Dark-1000, #E8E8EE);
			width: 100%;
			@include typo-ButtonLarge();
			padding: var(--Radius-and-Spacing-l, 8px) var(--Radius-and-Spacing-m-l, 12px);
			
		}

		&:after {
			position: absolute;
			right: calc( var(--Radius-and-Spacing-m-l, 12px) + var(--Radius-and-Spacing-m, 12px) );
			top: 32px;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;

			color: var(--Colors-Dark-200, #646482);;

	
			@include icon('search');
	
			content: "";
		}
	}

	.options-containerScroll {
		max-height: 220px;
		overflow: auto;
	}

	.hidden { display: none; }

	.option-item { 
		position: relative;
		cursor: pointer;
		display: flex;
		gap: var(--Radius-and-Spacing-m-l, 12px);
		border-radius: var(--Radius-and-Spacing-s, 4px);
		@include typo-ButtonLarge();
		padding: var(--Radius-and-Spacing-m, 8px) var(--Radius-and-Spacing-m-l, 12px);
		color: var(--Colors-Dark-200, #646482);

		&:hover, &.selected {			
			background: var(--Colors-Purple-1000, #F4F4FF);
		}
	}

	[type="checkbox"],
	[type="radio"] { 
		position: absolute;
		left: -99999px;
		opacity: 0;
		pointer-events: none;
	}


	[data-multi="true"] {
		.option-item {
			&:before {
				position: relative;
				display: block;
				border-radius: var(--Radius-and-Spacing-s, 4px);
				background-color: var(--Colors-Primary-4, #DBDBE4);
		
				width: 20px;
				height: 20px;
				content: "";
			}

			&:after {
				position: absolute;
				left: 24px;
				top: 13px;
				color: white;
				@include icon('check');
				content: "";
				width: 10px;
				height: 10px;
			}

			&.selected {
				&:before {
					background-color: var(--Colors-Primary-1, #655BFF);
				}
			}
		}
	}

	[data-searchSelect="true"] {
		.search-input {
			display: none;
		}

		.options-container:after {
			display: none;;
		}
	}
}






