@import 'variables';

.button-icon {
	@include typo-ButtonLarge();
	display: flex;
	padding: var(--Radius-and-Spacing-m-l, 12px) var(--Radius-and-Spacing-xl, 24px);
	justify-content: center;
	align-items: center;
	gap: var(--Radius-and-Spacing-xs, 2px);
	border-radius: var(--Radius-and-Spacing-s, 4px);
	background-color: var(--Colors-Primary-2, #FFF);
	color: var(--Colors-Primary-3, #30303E);
	border: 0;
	cursor: pointer;
	
	//TODO: ikonky

	&--small {
		@include typo-ButtonSmall();
		padding: var(--Radius-and-Spacing-xs, 2px);
		gap: var(--Radius-and-Spacing-xs, 2px);
	}
}