@import 'variables';

.data-table {
	$def: &;
	//overflow: auto;

	table {
		display: table;
		background: var(--Colors-Primary-2, #FFF);
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		min-width: 500px;
	
		tr {
			display: table-row;
		}
	
		th, td {
			display: table-cell;
			text-align: left;
			align-content: center;
			align-items: center;
			padding: var(--Radius-and-Spacing-m-l, 12px);
			@include typo-BodyLarge();
			border-bottom: 1px solid var(--Colors-Primary-4, #DBDBE4);

			&.right {
				text-align: right;
			}
		}
	
		th {
			@include typo-CaptionBig();
			color: var(--Colors-Dark-300, #8E8EA8);

		}
		td {
			@include typo-BodyLarge();

			&[colspan="999"], &[colspan="99"] {
				padding-left: 0;
				padding-right: 0;
				border-bottom: 0;
			}

			a {
				color: var(--Colors-Primary-1);
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&--small {
		table {
			th, td {
				padding: var(--Radius-and-Spacing-m, 8px);
			}

			th {
				@include typo-Caption();
			}

			td {
				@include typo-BodySmall();
			}
		}
	}

	&__collapse {
    padding: 0 !important;
    border-bottom: none !important;

    &.open {
      #{$def}__collapse-animate {
        grid-template-rows: 1fr;
      }
    }
  }

  &__collapse-animate {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
  }

  &__collapse-animate-inner {
    overflow: hidden;
  }
}