@import 'variables';

.nav-tab {
	display: flex;
	gap: 0;
	align-items: center;
	justify-content: center;


	li {
		list-style-type: none;

		a {
			position: relative;
			display: flex;
			min-width: rem( 48px );
			text-align: center;

			padding: var(--Radius-and-Spacing-m-l, 12px) var(--Radius-and-Spacing-xl, 24px);
			justify-content: center;
			align-items: center;
			gap: var(--Radius-and-Spacing-xs, 2px);
			text-decoration: none;
			@include typo-BodySmall-Bold();

			&:before {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: var(--Colors-Primary-4, #DBDBE4);
				content: "";
				height: 1px;
			}
		}

		&.active a {
			color: var(--Colors-Primary-1, #655BFF);

			&:before {
				height: 2px;
				background: var(--Colors-Primary-1, #655BFF);
			}
		}
	}
}