:root {
	--app-light-background-color: #E9E9E9;
	--app-dark-background-color: #2C2C2C;

	--app-color-white: 255, 255, 255;
	--app-color-dark: 56, 56, 56;

	--app-size-xxl: 64px;
	--app-size-xl: 40px;
	--app-size-l: 32px;
	--app-size-m: 16px;
	--app-size-sm: 8px;
	--app-size-s: 4px;
}

body {
	background-color: var( --app-light-background-color );
}

.component {
	padding: var( --app-size-xl ) var( --app-size-xxl );
	border-radius: var( --app-size-sm );
	background-color: rgba( var( --app-color-white ), 1 );
}

.sidebar {
	position: sticky;
	top: calc( var( --app-size-m ) + var( --app-size-sm ) );

	background-color: var( --app-dark-background-color );
	padding: calc( var( --app-size-sm ) * 1.5 ) var( --app-size-sm );

	border-radius: var( --app-size-sm );

	display: flex;
	flex-flow: column;
	gap: var( --app-size-sm );

	li.spacer {
		padding: var( --app-size-s );

		&:before {
			content: '';

			display: block;
			width: 100%;

			height: calc( var( --app-size-s ) / 4 );
			
			background-color: rgba( var( --app-color-white ), 0.15 );
		}
	}

	li a {
		display: flex;
		align-items: center;
	
		font-size: calc( var( --app-size-sm ) * 1.3777777 );
		line-height: 1;
		color: #fff;
		font-weight: bold;
	
		border-radius: var( --app-size-s );
	
		height: calc( var( --app-size-m ) + var( --app-size-sm ) );
	
		padding: 0 var( --app-size-sm );
	
		&:hover {
			background-color: rgba( var( --app-color-white ), 0.10 );
		}
	}
}

.super-heading {
	color: rgba( var( --app-color-dark ), 1 );
	font-size: calc( var( --app-size-xl ) * 1.2 );
	line-height: 1.2;

	padding: calc( var( --app-size-m ) * 1.25 ) 0;
	margin-bottom: var( --app-size-xl );

	border-bottom: calc( var( --app-size-s ) / 2 ) solid rgba( var( --app-color-dark ), 1 );

	display: block;
}

.component-heading {
	color: rgba( var( --app-color-dark ), 1 );
	font-size: calc( var( --app-size-m ) * 0.87777 );
	line-height: 1.4;
}

.component--typography {
	.col-6 {
		display: flex;
		align-items: center;

		padding-top: var( --app-size-l );	
		padding-bottom: var( --app-size-l );	

		&:nth-child( 2n + 2 ) {
			justify-content: flex-end;
		}
	}
}

.component--icons {
	.icon-tile {
		
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		gap: var( --app-size-s );
		
		font-size: calc( var( --app-size-m ) - var( --app-size-s ) );;
		line-height: 1;
		text-align: center;

		min-height: calc( var( --app-size-xxl ) * 1.5 );

		border-radius: var( --app-size-s );

		img {
			display: block;
		}

		&:hover {
			background-color: rgba( var( --app-color-dark ), 0.1 );
			cursor: pointer;
		}
	}

	.row {
		--bs-gutter-y: var( --app-size-m );
	}
}