@import 'variables';

.button-primary {
	@include typo-ButtonLarge();
	display: flex;
	gap: var(--Radius-and-Spacing-xs, 2px);
	padding: var(--Radius-and-Spacing-m-l, 12px) var(--Radius-and-Spacing-xl, 24px);
	justify-content: center;
	align-items: center;
	border-radius: var(--Radius-and-Spacing-s, 4px);
	background: var(--Colors-Primary-1, #655BFF);
	color: var(--Colors-Primary-2, #FFF);
	border: 1px solid var(--Colors-Primary-1, #655BFF);
	cursor: pointer;

	//TODO: ikonky

	&--small {
		@include typo-ButtonSmall();
		padding: var(--Radius-and-Spacing-s, 4px) var(--Radius-and-Spacing-s-m, 6px);
		gap: var(--Radius-and-Spacing-xs, 2px);
	}
}