@import 'variables';

.tabs-tabs {
	display: flex;
	gap: var(--Radius-and-Spacing-xs, 2px);
	align-items: center;
	justify-content: center;


	li {
		list-style-type: none;

		&.prev a,
		&.next a {

		}

		&.next a {

		}

		a {
			display: flex;
			min-width: rem( 48px );
			text-align: center;

			padding: var(--Radius-and-Spacing-m-l, 12px) var(--Radius-and-Spacing-xl, 24px);
			justify-content: center;
			align-items: center;
			gap: var(--Radius-and-Spacing-xs, 2px);
			text-decoration: none;
			@include typo-ButtonLarge();
		}

		& a.active {

		}
	}

	&--small {
		@include typo-ButtonSmall();
		padding: var(--Radius-and-Spacing-xs, 2px);
		gap: var(--Radius-and-Spacing-xs, 2px);
	}
}