@import 'variables';

.forms-checkbox {
	display: flex;
	align-items: center;
	gap: var(--Radius-and-Spacing-m-l, 12px);
	
	@include typo-BodyLarge();

	cursor: pointer;

	input {
		display: flex;
		align-items: center;
		justify-content: center;

		appearance: none;

		border-radius: var(--Radius-and-Spacing-s, 4px);
		background-color: var(--Colors-Primary-4, #DBDBE4);

		width: 26px;
		height: 26px;

		&:checked {
			background-color: var(--Colors-Primary-1, #655BFF);
		}

		&:after {
			display: block;
			width: 12px;
			height: 12px;
	
			@include icon('nav-arrow-right');
	
			content: "";
		}
	}




	&--small {
		@include typo-BodySmall();

		input {
			width: 20px;
			height: 20px;	
		}
	}
}

